@keyframes spin {

    0% {
        content: "";
    }

    3% {
        content: "N";
    }

    7% {
        content: "NO";
    }

    11% {
        content: "NOC";
    }

    14% {
        content: "NOCO";
    }

    40% {
        content: "TEDDY";
    }

    70% {
        content: "CAMERA";
    }

    100% {
        content: "FURNITURE";
    }
}

* {
    margin: 0;
    margin: 0;
    
}

.body {
    background: linear-gradient(#ecdae0, #f3e9f1);
    min-height: 1400px;
  @media screen and (max-width: 900px) {
        width: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        height: auto;
     

    }

    .confirmation {
        &__titre {
            text-align: center;
            margin-top: 50px;
         
           
        }

        .confirmation-recap {
            display: flex;
            flex-direction: column;
            margin-left: 100px;
            margin-top: 150px;
            height: 1000px;
   @media screen and (max-width: 900px) {
                margin-left: 30px;
             
        
            }
            &__id {
                margin-bottom: 100px;
            }
        }

    }

    .boutons-panier {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
         
    
        }
       

        &__continuer-achats,
        &__vider-panier {
            font-weight: bolder;
            font-size: 1.2em;
            border-radius: 2222px 2222px 2222px 2222px;
            cursor: pointer;
            background-color: rgb(70, 70, 70);
            color: #bebebe;
            border: 3px solid rgba(#c0baba, $alpha: 0.8);
            margin-right: 30px;
            margin: 7px;
            transition: all .2s ease-in-out;
            

            &:hover {
                background-color: whitesmoke;
                color: #9760e6;
                border: 3px solid rgba(#d88331, $alpha: 0.8);

            }

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }


    }

    .commande {

        min-height: 1000px;
        @media screen and (max-width: 900px) {
            margin-left: 40px;
         
    
        }

        &__bouton {
            margin-top: 20px;
            font-weight: bolder;
            font-size: 1.2em;
            border-radius: 2222px 2222px 2222px 2222px;
            cursor: pointer;
            background-color: rgb(70, 70, 70);
            color: #bebebe;
            border: 3px solid rgba(#c0baba, $alpha: 0.8);
            margin-right: 30px;
            margin: 7px;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: whitesmoke;
                color: #9760e6;
                border: 3px solid rgba(#d88331, $alpha: 0.8);

            }

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;
            }
        }

        .commande-formulaire {
            max-width: 300px;
            margin-top: 50px;
            margin-left: 100px;
            margin: 10px;
            background-color: rgba(#9760e6, $alpha: 0.9);
            border: 2px outset rgba(#d88331, $alpha: 0.7);
            @media screen and (max-width: 900px) {
                margin: 0;
             
        
            }




            &__champ {
                margin: 2px;




            }
        }

        &__important {
            margin-left: 20px;
            margin-top: 30px;
            font-weight: bolder;
            color: rgb(255, 0, 0);
        }


    }

    .panier {
      
        letter-spacing: 1px;
        margin-left: 30px;


        &__vide {
            grid-column-start: 2;
            text-align: center;
            font-size: 3em;
            margin-top: 100px;
            font-family: 'Gochi Hand', cursive;
            font-family: 'Gochi Hand', cursive;

        }


        .ligne-panier {

            display: flex;
            margin-top: 50px;
            justify-content: space-between;
            @media screen and (max-width: 900px) {
                display: flex;
                flex-direction: column;
                width: 60%;
             
        
            }
            @media screen and (max-width: 600px) {
                display: flex;
                flex-direction: column;
                width: 90%;
             
        
            }

            margin-left: 100px;
            margin-right: 20px;
            font-family: 'Roboto', sans-serif;
            background-color: rgba(#9760e6, $alpha: 0.9);
            @media screen and (max-width: 900px) {
                margin: 0;
                margin-top: 50px;
             
        
            }





            &__image {
                height: 150px;
                border: 2px outset rgba(#d88331, $alpha: 0.7);
                cursor: zoom-in;
                @media screen and (max-width: 900px) {
                    height: 250px;
                    width: auto;
                 
            
                }


            }

            .ligne-panier-boutons {

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &__vider-panier,
                &__modifier {
                    font-weight: bolder;
                    font-size: 1.2em;
                    border-radius: 2222px 2222px 2222px 2222px;
                    cursor: pointer;
                    background-color: rgb(70, 70, 70);
                    color: #bebebe;
                    border: 3px solid rgba(#c0baba, $alpha: 0.8);
                    margin-right: 30px;
                    margin: 7px;
                    transition: all .2s ease-in-out;

                    &:hover {
                        background-color: whitesmoke;
                        color: #9760e6;
                        border: 3px solid rgba(#d88331, $alpha: 0.8);

                    }

                    &:active {
                        outline: none;
                    }

                    &:focus {
                        outline: none;
                    }



                }


            }

            .ligne-panier-description {
                color: #f3e9f1;
                line-height: 3em;
                margin-left: 10px;
                display: flex;
                flex-direction: column;

            }
        }

    }


    .header {
        background-color: #f3e9f1;
        display: grid;
        grid-template-columns: 3fr 1fr;
        font-family: 'Gochi Hand', cursive;
        letter-spacing: 2px;
        border-bottom: 1.5px solid rgba(#0e0d0d, $alpha: 0.7);
        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 100%;
    
        }

        .heading {

            display: flex;
         
            &__titre {
                margin-left: 100px;
                font-size: 3em;
                vertical-align: sub;
                color: #9760e6;
                @media screen and (max-width: 900px) {
                    margin: 0;
                    margin: 0;
                    width: 70%;
                    justify-items: end;
                    margin-left: 40px;
                    
                }

            }

            &__logo {
                margin-left: 50px;
                width: 10%;
                @media screen and (max-width: 900px) {
                    
                    margin: 0;
           
            
                }

                img {
                    width: 100%;
                    @media screen and (max-width: 900px) {
                        width: 70px
                
                    }
                    
                }
            }
        }



        &__panier {

            justify-self: end;
            text-decoration: none;
            margin: 15px 50px 0 0;
            font-size: 1.4em;
            @media screen and (max-width: 900px) {
                
                
                display: inline-block;

                
        
            }

            &:visited {
                color: #404040;
            }

            &:hover {
                text-decoration: underline;
            }

        }
    }

    .preview-produit {
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        margin: 100px 50px 0 70px;
        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-top: 20px;
            
    
        }




        .preview-produit-description {
            background-color: rgba(#9760e6, $alpha: 0.9);
            display: grid;
            color: whitesmoke;
            font-size: 1.3em;
            grid-template-rows: 2fr 3fr 1fr 1fr 50px;
      padding-left: 20px;
      padding-bottom: 20px;
            margin-right: 20px;
            border-radius: 0 5PX 5PX 0;
            border: 1px outset rgba(#d88331, $alpha: 0.7);
            @media screen and (max-width: 900px) {
               margin: 0;
               width: 80%;
               margin-left: 30px;
             
        
            }
            

            &__titre {
                margin-top: 10px;

            }

            &__prix {
                justify-self: end;
                margin-right: 20px;
            }

            &__quantite {
                width: 20%;

            }

            &__panier {
                width: 200px;
                cursor: pointer;
            }

        }

        &__image {
            width: 500px;
            justify-self: end;
            border: 1px outset rgba(#9760e6, $alpha: 0.7);
            @media screen and (max-width: 900px) {
                width: 100%
                
        
            }


        }
    }


    .section {


        .presentation {
            @media screen and (max-width: 900px) {
                padding-left: 20px;
                padding-right: 30px;
                margin: 0;
             
        
            }

            &__titre {
                margin-left: 150px;
                margin-top: 200px;
                letter-spacing: 3px;
                color: #9760e6;
                font-size: 2.5em;
                font-family: 'Gochi Hand', cursive;
                @media screen and (max-width: 900px) {
                    padding-bottom: 20px;
                    padding-top: 20px;
                    margin: 0;
                 
            
                }



                &--animation {
                    &::after {
                        content: "";
                        animation: spin 20s ease-in-out infinite;
                    }
                }

            }

            &__paragraphe {
                font-size: larger;
                font-weight: bold;
                width: 50%;
                letter-spacing: 1px;
                margin-left: 200px;
                margin-top: 100px;
                color: #404040;
                line-height: 1.5em;
                font-family: 'Roboto', sans-serif;
                text-align: justify;
                @media screen and (max-width: 900px) {
                    text-align: justify;
                    margin: 0;
                    width: 100%;
            
                }

            }

        }

        .liste {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 900px) {
                display: flex;
                justify-content: center;
             
        
            }

            .produits {
                
                font-family: 'Roboto', sans-serif;
                height: auto;
                @media screen and (max-width: 900px) {
                    padding-left: 20px;
            
                }
                

                .produit {

                    margin-bottom: 50px;
                    display: flex;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    justify-content: center;
                    margin: 2% 20% 2% 20%;
                    border: 2px ridge rgba(#d88331, $alpha: 0.7);
                    @media screen and (max-width: 900px) {
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        margin-bottom: 30px;
                        width: 90%;
                
                    }

                    &:hover {
                        transform: scale(1.05);
                        opacity: 0.8;
                    }

                    .produit-description {

                        margin-right: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        letter-spacing: 1px;
                        text-align: end;
                        color: #404040;

                        &__titre {
                            text-align: center;
                            
                        }


                    }
                }

                img {
                    width: 200px;
                    border-right: 3px solid rgba(#c0baba, $alpha: 0.8);

                }
            }


            &__titre {
                margin-bottom: 50px;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                @media screen and (max-width: 900px) {
                    padding: 20px 30px 20px 0;
                 
            
                }



            }

            .liste-selection {
                margin-bottom: 100px;
                display: flex;
                justify-content: space-around;
                margin: 0 20% 0 20%;
                 @media screen and (max-width: 900px) {
                        display: flex;
                        flex-direction: column;
                        
                        margin-bottom: 200px;
                        
                
                    }

                &__btn-teddy,
                &__btn-camera,
                &__btn-furniture {
                    width: 200px;
                    height: 50px;
                    font-size: 1.15em;
                    cursor: pointer;
                    background-color: #9760e6;
                    border-radius: 2222px 2222px 2222px 2222px;
                    border: 1px solid rgba(#c0baba, $alpha: 0.8);
                    color: whitesmoke;
                    transition: all .2s ease-in-out;
                    @media screen and (max-width: 900px) {
                        margin-bottom: 20px;
                     
                
                    }
                    
                   

                    &:active {
                        outline: none;
                    }

                    &:focus {
                        outline: none;
                    }

                    &--actif {
                        width: 200px;
                        height: 50px;
                        font-weight: bold;
                        font-size: 1.2em;
                        border-radius: 2222px 2222px 2222px 2222px;
                        cursor: pointer;
                        background-color: whitesmoke;
                        color: #9760e6;
                        border: 3px solid rgba(#d88331, $alpha: 0.8);

                    }

                }

                &__texte {
                    display: none;

                    &--visible {
                        display: block;
                    }
                }

            }
        }

    }




}